<br><br>
<div class="d-flex categories justify-content-between">
  <h6 class="title">Öne Çıkan Restaurantlar</h6>
  <div>
    <div class="d-flex">
      <a href="" class="see_all_a">
        <h6 class="see_all">Tümünü Gör(6)</h6>
      </a>
      <div>
        <i data-bs-target="#carouselExampleControls" data-bs-slide="prev" class="fa-solid fa-angle-left arrow"></i>
        <i data-bs-target="#carouselExampleControls" data-bs-slide="next" class="fa-solid fa-angle-right arrow"></i>
      </div>

    </div>
  </div>
</div>
<div id="carouselExampleControls" style="margin-top: 5px;" data-bs-interval="3000"  class="carousel carousel-dark slide mt-3" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-wrapper row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
          <a href="" class="all_item">
            <div class="item">
              <img src="https://images.deliveryhero.io/image/fd-tr/LH/yitc-hero.jpg" class="card-img-top" alt="...">
                <a href="">
                  <i class="fa-regular fa-heart like_button"></i>
                </a>
                <div class="point d-flex">
                  <i class="fa-regular fa-star"></i>
                  <span>4.5</span>
                </div>
                <div class="category_name d-flex">
                  <span>Burger</span>
                </div>      
            </div> 
          </a>
          <h6 class="restaurant_name mt-2">Burger King(Başak Mahallesi)</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
          <a href="" class="all_item">
            <div class="item">
              <img src="https://images.deliveryhero.io/image/fd-tr/LH/rth5-hero.jpg" class="card-img-top" alt="...">
                <a href="">
                  <i class="fa-regular fa-heart like_button"></i>
                </a>
                <div class="point d-flex">
                  <i class="fa-regular fa-star"></i>
                  <span>4.5</span>
                </div>
                <div class="category_name d-flex">
                  <span>Döner</span>
                </div>      
            </div> 
          </a>
          <h6 class="restaurant_name mt-2">Paşa Döner(Başak Mahallesi)</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
          <a href="" class="all_item">
            <div class="item">
              <img src="https://images.deliveryhero.io/image/fd-tr/LH/t5vx-hero.jpg" class="card-img-top" alt="...">
                <a href="">
                  <i class="fa-regular fa-heart like_button"></i>
                </a>
                <div class="point d-flex">
                  <i class="fa-regular fa-star"></i>
                  <span>4.5</span>
                </div>
                <div class="category_name d-flex">
                  <span>Pizza</span>
                </div>      
            </div> 
          </a>
          <h6 class="restaurant_name mt-2">Pizza Lazza(Başak Mahallesi)</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
          <a href="" class="all_item">
            <div class="item">
              <img src="https://images.deliveryhero.io/image/fd-tr/LH/h5tf-hero.jpg" class="card-img-top" alt="...">
                <a href="">
                  <i class="fa-regular fa-heart like_button"></i>
                </a>
                <div class="point d-flex">
                  <i class="fa-regular fa-star"></i>
                  <span>4.5</span>
                </div>
                <div class="category_name d-flex">
                  <span>Tatlı</span>
                </div>      
            </div> 
          </a>
          <h6 class="restaurant_name mt-2">Güllüoğlu(Başak Mahallesi)</h6>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card-wrapper row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
          <a href="" class="all_item">
            <div class="item">
              <img src="https://images.deliveryhero.io/image/fd-tr/LH/yitc-hero.jpg" class="card-img-top" alt="...">
                <a href="">
                  <i class="fa-regular fa-heart like_button"></i>
                </a>
                <div class="point d-flex">
                  <i class="fa-regular fa-star"></i>
                  <span>4.5</span>
                </div>
                <div class="category_name d-flex">
                  <span>Burger</span>
                </div>      
            </div> 
          </a>
          <h6 class="restaurant_name mt-2">Burger King(Başak Mahallesi)</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
          <a href="" class="all_item">
            <div class="item">
              <img src="https://images.deliveryhero.io/image/fd-tr/LH/rth5-hero.jpg" class="card-img-top" alt="...">
                <a href="">
                  <i class="fa-regular fa-heart like_button"></i>
                </a>
                <div class="point d-flex">
                  <i class="fa-regular fa-star"></i>
                  <span>4.5</span>
                </div>
                <div class="category_name d-flex">
                  <span>Döner</span>
                </div>      
            </div> 
          </a>
          <h6 class="restaurant_name mt-2">Paşa Döner(Başak Mahallesi)</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
          <a href="" class="all_item">
            <div class="item">
              <img src="https://images.deliveryhero.io/image/fd-tr/LH/t5vx-hero.jpg" class="card-img-top" alt="...">
                <a href="">
                  <i class="fa-regular fa-heart like_button"></i>
                </a>
                <div class="point d-flex">
                  <i class="fa-regular fa-star"></i>
                  <span>4.5</span>
                </div>
                <div class="category_name d-flex">
                  <span>Pizza</span>
                </div>      
            </div> 
          </a>
          <h6 class="restaurant_name mt-2">Pizza Lazza(Başak Mahallesi)</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
          <a href="" class="all_item">
            <div class="item">
              <img src="https://images.deliveryhero.io/image/fd-tr/LH/h5tf-hero.jpg" class="card-img-top" alt="...">
                <a href="">
                  <i class="fa-regular fa-heart like_button"></i>
                </a>
                <div class="point d-flex">
                  <i class="fa-regular fa-star"></i>
                  <span>4.5</span>
                </div>
                <div class="category_name d-flex">
                  <span>Tatlı</span>
                </div>      
            </div> 
          </a>
          <h6 class="restaurant_name mt-2">Güllüoğlu(Başak Mahallesi)</h6>
        </div>
      </div>
    </div>
  </div>
</div>
