<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container">
  <div class="all">
    <div class="row mt-4">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="search">
          <h2>Burger King</h2>
          <div class="row">
            <div class="col-md-6">
              <p><i class="fa-solid fa-house"></i> Beşyol Karadeniz Sokak</p>
              <p><i class="fa-solid fa-clock"></i> 06.00 / 22.00</p>

              <p>Restoran Puanı: <i class="fa-solid fa-star stars"></i>
                <i class="fa-solid fa-star stars"></i>
                <i class="fa-solid fa-star stars"></i>
                <i class="fa-solid fa-star stars"></i>
                <i class="fa-solid fa-star-half stars"></i>
              </p>
            </div>
            <div class="col-md-6">
              <p><i class="fa-solid fa-envelope"></i> info@burgerking.com</p>
              <p><i class="fa-solid fa-phone"></i> 05437725182</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h4 class="filterText mb-3 p-2" style="border-radius: 5px;">Filtreler</h4>
        <div class="container filter">
          <h4 style="margin-left: 1rem;font-weight: bold;">Restoran Menüleri</h4>
          <ul class="filter_list">

            <mat-radio-button value="1">Burger</mat-radio-button>
            <mat-radio-button value="2">Yan Soslar</mat-radio-button>
            <mat-radio-button value="2">İçecek</mat-radio-button>
            <mat-radio-button value="2">Tatlı</mat-radio-button>
          </ul>
        </div>
      </div>
    </div>
    <div class="input-group mb-3 mt-3">
      <input type="text" class="form-control" placeholder="Restoran İçi Arama" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top"
            src="https://images.deliveryhero.io/image/fd-tr/LH/e6bj-hero.jpg?width=1600&height=400&quality=45"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">DABA DABA</h5>
            <div class="d-flex justify-content-between">
              <p class="card-text">Çıtır soğan halkası ve 1 lt içecek hediyeli</p>
              <p class="card-price">156,35</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top"
            src="https://images.deliveryhero.io/image/fd-tr/LH/e6bj-hero.jpg?width=1600&height=400&quality=45"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">DABA DABA</h5>
            <div class="d-flex justify-content-between">
              <p class="card-text">Çıtır soğan halkası ve 1 lt içecek hediyeli</p>
              <p class="card-price">156,35</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top"
            src="https://images.deliveryhero.io/image/fd-tr/LH/e6bj-hero.jpg?width=1600&height=400&quality=45"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">DABA DABA</h5>
            <div class="d-flex justify-content-between">
              <p class="card-text">Çıtır soğan halkası ve 1 lt içecek hediyeli</p>
              <p class="card-price">156,35</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top"
            src="https://images.deliveryhero.io/image/fd-tr/LH/e6bj-hero.jpg?width=1600&height=400&quality=45"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">DABA DABA</h5>
            <div class="d-flex justify-content-between">
              <p class="card-text">Çıtır soğan halkası ve 1 lt içecek hediyeli</p>
              <p class="card-price">156,35</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top"
            src="https://images.deliveryhero.io/image/fd-tr/LH/e6bj-hero.jpg?width=1600&height=400&quality=45"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">DABA DABA</h5>
            <div class="d-flex justify-content-between">
              <p class="card-text">Çıtır soğan halkası ve 1 lt içecek hediyeli</p>
              <p class="card-price">156,35</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top"
            src="https://images.deliveryhero.io/image/fd-tr/LH/e6bj-hero.jpg?width=1600&height=400&quality=45"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">DABA DABA</h5>
            <div class="d-flex justify-content-between">
              <p class="card-text">Çıtır soğan halkası ve 1 lt içecek hediyeli</p>
              <p class="card-price">156,35</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top"
            src="https://images.deliveryhero.io/image/fd-tr/LH/e6bj-hero.jpg?width=1600&height=400&quality=45"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">DABA DABA</h5>
            <div class="d-flex justify-content-between">
              <p class="card-text">Çıtır soğan halkası ve 1 lt içecek hediyeli</p>
              <p class="card-price">156,35</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top"
            src="https://images.deliveryhero.io/image/fd-tr/LH/e6bj-hero.jpg?width=1600&height=400&quality=45"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">DABA DABA</h5>
            <div class="d-flex justify-content-between">
              <p class="card-text">Çıtır soğan halkası ve 1 lt içecek hediyeli</p>
              <p class="card-price">156,35</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top"
            src="https://images.deliveryhero.io/image/fd-tr/LH/e6bj-hero.jpg?width=1600&height=400&quality=45"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">DABA DABA</h5>
            <div class="d-flex justify-content-between">
              <p class="card-text">Çıtır soğan halkası ve 1 lt içecek hediyeli</p>
              <p class="card-price">156,35</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
