<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container" *ngIf="restaurant">
  <img [src]="getImagePath(restaurant)" style="width: 100%;height: 35rem;object-fit: cover;" alt="">
  <div class="all">
    <div class="row mt-4">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="search">
          <h2>{{restaurant.restaurantName}}</h2>
          <div class="row">
            <div class="col-md-6">
              <p><i class="fa-solid fa-house"></i> {{restaurant.restaurantAddress}}</p>
              <p><i class="fa-solid fa-clock"></i> 06.00 / 22.00</p>

              <p>Restoran Puanı:
                <i class="fa-solid fa-star stars" *ngFor="let x of rate"></i>
                <i class="fa-solid fa-star remainderRateColor" *ngFor="let x of remainderRate"></i>

              </p>
            </div>
            <div class="col-md-6">
              <p><i class="fa-solid fa-envelope"></i> {{restaurant.mailAddress}}</p>
              <p><i class="fa-solid fa-phone"></i> {{restaurant.phoneNumber}}</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h4 class="filterText mb-3 p-2" style="border-radius: 5px;">Filtreler</h4>
        <div class="container filter">
          <h4 style="margin-left: 1rem;font-weight: bold;">Restoran Menüleri</h4>
          <ul class="filter_list">

            <mat-radio-button value="1">Burger</mat-radio-button>
            <mat-radio-button value="2">Yan Soslar</mat-radio-button>
            <mat-radio-button value="2">İçecek</mat-radio-button>
            <mat-radio-button value="2">Tatlı</mat-radio-button>
          </ul>
        </div>
      </div>
    </div>
    <div class="input-group mb-3 mt-3">
      <input type="text" class="form-control" placeholder="Restoran İçi Arama" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>
    <div class="row mb-3">
      <div class="col-lg-4" *ngFor="let menu of restaurantMenuDetails" style="position: relative;">
        <button class="btn addCart">
          <i class="fa-solid fa-plus"></i>
        </button>
        <div class="card" style="width: 25rem;">
          <img class="card-img-top" [src]="getMenusImagePath(menu)" style="height:17rem;width: 100%;"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title" style="font-weight: bold;">{{menu.menuTitle}}</h4>
            <div class="d-flex justify-content-between">
              <p class="card-text">{{menu.menuDescription}}</p>
              <p class="card-price">{{menu.menuPrice}} TL </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>