.filterText {
    font-weight: bold;
}
.filter_list {
    list-style: none;
    padding: 0px;
    margin-left: 0px;
}
.filter_list li {
    list-style: none;
}
.filter {
    background-color:#ffffff;
    padding: 2rem;
    margin-bottom: 0.2rem;
    border-bottom: 0px solid gray;
    border-left: 0px solid gray;
    border-right: 0px solid gray;
    border-radius: 10px;
    box-shadow: rgba(93, 62, 188, 0.04) 0px 6px 24px;
   
}

.review-stat{
    font-weight:300;
    font-size:15px;
    margin-bottom:2px;
}

.small-ratings i{
    color:#cecece;   
  }
  .rating-color{
    color:#C9463D !important;
}

.restaurant_name {
    color:#C9463D ;
}

.card {
    position: relative;
}
.like_button {
    position: absolute;
    color: white;
    bottom:290px;
    left:270px;
    font-size: 23px;
}
.like_button:hover {
    z-index: 999999;
    transition: .4s;
    color: #C9463D;

  }
  .card_href {
    text-decoration: none;
    color: black;
  }