<div class="all">
  <div class="row">
    <div class="col-lg-9">
      <div class="row x">
        <h3 style="font-weight: bold;">Restaurantlar</h3>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12" style="height: 22rem;">
          <a href="#" class="card_href">
          <div class="card" style="width: 15rem;height: auto;">
            <img src="https://images.deliveryhero.io/image/fd-tr/LH/rth5-hero.jpg" style="height: 180px;object-fit: cover;"
              class="card-img-top" alt="...">
            <div class="card-body">
              <a href="">
                <i class="fa-regular fa-heart like_button"></i>
              </a>
              <div class="header d-flex justify-content-between">
                <div class="card-title restaurant_name" style="font-weight: bold;">
                  Burger King
                </div>
                <div>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">Karadeniz Mah. No/4</div>
                <div class="col-lg-6">
                  <span style="font-size: 13px;">
                    Min Sepet Tutarı :  25 TL
                  </span>
                </div>
              </div>
                  <br>
              <div class="row">
                <div class="col-lg-6">
                  <span>
                    <i class="fa-solid fa-clock"></i> Açılış : 09.00
                  </span> </div>
                <div class="col-lg-6">
                  <span>
                    <i class="fa-solid fa-clock"></i> Kapanış : 16.00
                  </span>
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12" style="height: 22rem;">
          <a href="#" class="card_href">
          <div class="card" style="width: 15rem;height: auto;">
            <img src="https://images.deliveryhero.io/image/fd-tr/LH/rth5-hero.jpg" style="height: 180px;object-fit: cover;"
              class="card-img-top" alt="...">
            <div class="card-body">
              <a href="">
                <i class="fa-regular fa-heart like_button"></i>
              </a>
              <div class="header d-flex justify-content-between">
                <div class="card-title restaurant_name" style="font-weight: bold;">
                  Burger King
                </div>
                <div>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">Karadeniz Mah. No/4</div>
                <div class="col-lg-6">
                  <span style="font-size: 13px;">
                    Min Sepet Tutarı :  25 TL
                  </span>
                </div>
              </div>
                  <br>
              <div class="row">
                <div class="col-lg-6">
                  <span>
                    <i class="fa-solid fa-clock"></i> Açılış : 09.00
                  </span> </div>
                <div class="col-lg-6">
                  <span>
                    <i class="fa-solid fa-clock"></i> Kapanış : 16.00
                  </span>
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12" style="height: 22rem;">
          <a href="#" class="card_href">
          <div class="card" style="width: 15rem;height: auto;">
            <img src="https://images.deliveryhero.io/image/fd-tr/LH/rth5-hero.jpg" style="height: 180px;object-fit: cover;"
              class="card-img-top" alt="...">
            <div class="card-body">
              <a href="">
                <i class="fa-regular fa-heart like_button"></i>
              </a>
              <div class="header d-flex justify-content-between">
                <div class="card-title restaurant_name" style="font-weight: bold;">
                  Burger King
                </div>
                <div>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">Karadeniz Mah. No/4</div>
                <div class="col-lg-6">
                  <span style="font-size: 13px;">
                    Min Sepet Tutarı :  25 TL
                  </span>
                </div>
              </div>
                  <br>
              <div class="row">
                <div class="col-lg-6">
                  <span>
                    <i class="fa-solid fa-clock"></i> Açılış : 09.00
                  </span> </div>
                <div class="col-lg-6">
                  <span>
                    <i class="fa-solid fa-clock"></i> Kapanış : 16.00
                  </span>
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12" style="height: 22rem;">
          <a href="#" class="card_href">
          <div class="card" style="width: 15rem;height: auto;">
            <img src="https://images.deliveryhero.io/image/fd-tr/LH/rth5-hero.jpg" style="height: 180px;"
              class="card-img-top" alt="...">
            <div class="card-body">
              <a href="">
                <i class="fa-regular fa-heart like_button"></i>
              </a>
              <div class="header d-flex justify-content-between">
                <div class="card-title restaurant_name" style="font-weight: bold;">
                  Burger King
                </div>
                <div>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">Karadeniz Mah. No/4</div>
                <div class="col-lg-6">
                  <span style="font-size: 13px;">
                    Min Sepet Tutarı :  25 TL
                  </span>
                </div>
              </div>
                  <br>
              <div class="row">
                <div class="col-lg-6">
                  <span>
                    <i class="fa-solid fa-clock"></i> Açılış : 09.00
                  </span> </div>
                <div class="col-lg-6">
                  <span>
                    <i class="fa-solid fa-clock"></i> Kapanış : 16.00
                  </span>
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
      <div class="row x">
        <div class="col-lg-3 col-md-6" style="height: 22rem;">
          <a href="#" class="card_href">
          <div class="card" style="width: 15rem;height: auto;">
            <img src="https://images.deliveryhero.io/image/fd-tr/LH/rth5-hero.jpg" style="height: 180px;object-fit: cover;"
              class="card-img-top" alt="...">
            <div class="card-body">
              <a href="">
                <i class="fa-regular fa-heart like_button"></i>
              </a>
              <div class="header d-flex justify-content-between">
                <div class="card-title restaurant_name" style="font-weight: bold;">
                  Burger King
                </div>
                <div>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">Karadeniz Mah. No/4</div>
                <div class="col-lg-6">
                  <span style="font-size: 13px;">
                    Min Sepet Tutarı :  25 TL
                  </span>
                </div>
              </div>
                  <br>
              <div class="row">
                <div class="col-lg-6">
                  <span>
                    <i class="fa-solid fa-clock"></i> Açılış : 09.00
                  </span> </div>
                <div class="col-lg-6">
                  <span>
                    <i class="fa-solid fa-clock"></i> Kapanış : 16.00
                  </span>
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>
        <div class="col-lg-3 col-md-6" style="height: 22rem;">
          <a href="#" class="card_href">
          <div class="card" style="width: 15rem;height: auto;">
            <img src="https://images.deliveryhero.io/image/fd-tr/LH/rth5-hero.jpg" style="height: 180px;object-fit: cover;"
              class="card-img-top" alt="...">
            <div class="card-body">
              <a href="">
                <i class="fa-regular fa-heart like_button"></i>
              </a>
              <div class="header d-flex justify-content-between">
                <div class="card-title restaurant_name" style="font-weight: bold;">
                  Burger King
                </div>
                <div>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">Karadeniz Mah. No/4</div>
                <div class="col-lg-6">
                  <span style="font-size: 13px;">
                    Min Sepet Tutarı :  25 TL
                  </span>
                </div>
              </div>
                  <br>
              <div class="row">
                <div class="col-lg-6">
                  <span>
                    <i class="fa-solid fa-clock"></i> Açılış : 09.00
                  </span> </div>
                <div class="col-lg-6">
                  <span>
                    <i class="fa-solid fa-clock"></i> Kapanış : 16.00
                  </span>
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>
        <div class="col-lg-3 col-md-6" style="height: 22rem;">
          <a href="#" class="card_href">
          <div class="card" style="width: 15rem;height: auto;">
            <img src="https://images.deliveryhero.io/image/fd-tr/LH/rth5-hero.jpg" style="height: 180px;object-fit: cover;"
              class="card-img-top" alt="...">
            <div class="card-body">
              <a href="">
                <i class="fa-regular fa-heart like_button"></i>
              </a>
              <div class="header d-flex justify-content-between">
                <div class="card-title restaurant_name" style="font-weight: bold;">
                  Burger King
                </div>
                <div>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">Karadeniz Mah. No/4</div>
                <div class="col-lg-6">
                  <span style="font-size: 13px;">
                    Min Sepet Tutarı :  25 TL
                  </span>
                </div>
              </div>
                  <br>
              <div class="row">
                <div class="col-lg-6">
                  <span>
                    <i class="fa-solid fa-clock"></i> Açılış : 09.00
                  </span> </div>
                <div class="col-lg-6">
                  <span>
                    <i class="fa-solid fa-clock"></i> Kapanış : 16.00
                  </span>
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>
        <div class="col-lg-3 col-md-6" style="height: 22rem;">
          <a href="#" class="card_href">
          <div class="card" style="width: 15rem;height: auto;">
            <img src="https://images.deliveryhero.io/image/fd-tr/LH/rth5-hero.jpg" style="height: 180px;"
              class="card-img-top" alt="...">
            <div class="card-body">
              <a href="">
                <i class="fa-regular fa-heart like_button"></i>
              </a>
              <div class="header d-flex justify-content-between">
                <div class="card-title restaurant_name" style="font-weight: bold;">
                  Burger King
                </div>
                <div>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">Karadeniz Mah. No/4</div>
                <div class="col-lg-6">
                  <span style="font-size: 13px;">
                    Min Sepet Tutarı :  25 TL
                  </span>
                </div>
              </div>
                  <br>
              <div class="row">
                <div class="col-lg-6">
                  <span>
                    <i class="fa-solid fa-clock"></i> Açılış : 09.00
                  </span> </div>
                <div class="col-lg-6">
                  <span>
                    <i class="fa-solid fa-clock"></i> Kapanış : 16.00
                  </span>
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>

  </div>
    <div class="col-lg-3">
      <h4 class="filterText mb-3 p-2" style="border-radius: 5px;">Filtreler</h4>
      <div class="container filter">
        <h4 style="margin-left: 1rem;font-weight: bold;">Sıralama</h4>
        <ul class="filter_list">
          <li>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">Varsayılan Sıralama</mat-radio-button>
              <mat-radio-button value="1">Alfabetik Sıralama</mat-radio-button>
              <mat-radio-button value="1">Restoran Puanı</mat-radio-button>
            </mat-radio-group>
          </li>
        </ul>
      </div>
      <div class="container filter">
        <h4 style="margin-left: 1rem;font-weight: bold;">Kategoriler</h4>
        <ul class="filter_list">
          <li>
            <mat-checkbox class="example-margin">Burger</mat-checkbox>
          </li>
          <li>
            <mat-checkbox class="example-margin">Pizza</mat-checkbox>
          </li>
          <li>
            <mat-checkbox class="example-margin">Döner</mat-checkbox>
          </li>
          <li>
            <mat-checkbox class="example-margin">Tatlı</mat-checkbox>
          </li>
          <li>
            <mat-checkbox class="example-margin">Kebap</mat-checkbox>
          </li>
          <li>
            <mat-checkbox class="example-margin">Dondurma</mat-checkbox>
          </li>
        </ul>
      </div>
      <div class="container filter">
        <h4 style="margin-left: 1rem;font-weight: bold;">Puan</h4>
        <ul class="filter_list">
          <li>
            <mat-radio-button value="1">
              Tümü
            </mat-radio-button>
          </li>
          <li>
            <div class="mt-2 d-flex justify-content-between align-items-center">
              <mat-radio-button value="1">
                <h5 class="review-stat">4 Ve Üstü</h5>
              </mat-radio-button>
              <div class="small-ratings">
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </li>
          <li>
            <div class="mt-2 d-flex justify-content-between align-items-center">
              <mat-radio-button value="1">
                <h5 class="review-stat">3 Ve Üstü</h5>
              </mat-radio-button>
              <div class="small-ratings">
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </li>
          <li>
            <div class="mt-2 d-flex justify-content-between align-items-center">
              <mat-radio-button value="1">
                <h5 class="review-stat">2 Ve Üstü</h5>
              </mat-radio-button>
              <div class="small-ratings">
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </li>
          <li>
            <div class="mt-2 d-flex justify-content-between align-items-center">
              <mat-radio-button value="1">
                <h5 class="review-stat">1 Ve Üstü</h5>
              </mat-radio-button>
              <div class="small-ratings">
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
