<section style="background-color: #eee;">
    <div class="text-center container py-5">
      <h2 class="mt-4 mb-5"><strong>Favori Restoranlarım</strong></h2>
  
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
            
            <div class="card" style="height: auto;">
              <button style="padding: 0px;">
                  <i class="fa-regular fa-trash-can delete"></i>
              </button>           
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                data-mdb-ripple-color="light">
                <a href="">
                    <img src="https://images.deliveryhero.io/image/fd-tr/LH/yitc-hero.jpg"  style="max-height: 200px;object-fit: cover;"
                  class="w-100" />
                </a>
                <a href="#!">
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="card-title restaurant_name">
                              <h3 style="font-weight: bold;" >Burger King</h3>
                            </div>
                      </div>
                      <div class="col-lg-6">
                          <div>
                              <i class="fa fa-star rating-color"></i>
                              <i class="fa fa-star rating-color"></i>
                              <i class="fa fa-star rating-color"></i>
                              <i class="fa fa-star rating-color"></i>
                            </div>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col-lg-6">Karadeniz Mah. No/4</div>
                    <div class="col-lg-6">
                      <span style="font-size: 13px;">
                        Min Sepet Tutarı :  25 TL
                      </span>
                    </div>
                  </div>
                      <br>
                  <div class="row">
                    <div class="col-lg-6">
                      <span>
                        <i class="fa-solid fa-clock"></i> Açılış : 09.00
                      </span> </div>
                    <div class="col-lg-6">
                      <span>
                        <i class="fa-solid fa-clock"></i> Kapanış : 16.00
                      </span>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card" style="height: auto;">
              <button style="padding: 0px;">
                  <i class="fa-regular fa-trash-can delete"></i>
              </button>           
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                data-mdb-ripple-color="light">
                <a href="">
                    <img src="https://images.deliveryhero.io/image/fd-tr/LH/rth5-hero.jpg"  style="max-height: 200px;object-fit: cover;"
                  class="w-100" />
                </a>
                
                <a href="#!">
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="card-title restaurant_name">
                              <h3 style="font-weight: bold;" >Burger King</h3>
                            </div>
                      </div>
                      <div class="col-lg-6">
                          <div>
                              <i class="fa fa-star rating-color"></i>
                              <i class="fa fa-star rating-color"></i>
                              <i class="fa fa-star rating-color"></i>
                              <i class="fa fa-star rating-color"></i>
                            </div>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col-lg-6">Karadeniz Mah. No/4</div>
                    <div class="col-lg-6">
                      <span style="font-size: 13px;">
                        Min Sepet Tutarı :  25 TL
                      </span>
                    </div>
                  </div>
                      <br>
                  <div class="row">
                    <div class="col-lg-6">
                      <span>
                        <i class="fa-solid fa-clock"></i> Açılış : 09.00
                      </span> </div>
                    <div class="col-lg-6">
                      <span>
                        <i class="fa-solid fa-clock"></i> Kapanış : 16.00
                      </span>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card" style="height: auto;">
              <button style="padding: 0px;">
                  <i class="fa-regular fa-trash-can delete"></i>
              </button>           
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                data-mdb-ripple-color="light">
                <a href="">
                    <img  src="https://images.deliveryhero.io/image/fd-tr/LH/t5vx-hero.jpg"  style="max-height: 200px;object-fit: cover;"
                  class="w-100" />
                </a>
                
                <a href="#!">
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="card-title restaurant_name">
                              <h3 style="font-weight: bold;" >Burger King</h3>
                            </div>
                      </div>
                      <div class="col-lg-6">
                          <div>
                              <i class="fa fa-star rating-color"></i>
                              <i class="fa fa-star rating-color"></i>
                              <i class="fa fa-star rating-color"></i>
                              <i class="fa fa-star rating-color"></i>
                            </div>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col-lg-6">Karadeniz Mah. No/4</div>
                    <div class="col-lg-6">
                      <span style="font-size: 13px;">
                        Min Sepet Tutarı :  25 TL
                      </span>
                    </div>
                  </div>
                      <br>
                  <div class="row">
                    <div class="col-lg-6">
                      <span>
                        <i class="fa-solid fa-clock"></i> Açılış : 09.00
                      </span> </div>
                    <div class="col-lg-6">
                      <span>
                        <i class="fa-solid fa-clock"></i> Kapanış : 16.00
                      </span>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card" style="height: auto;">
              <button style="padding: 0px;">
                  <i class="fa-regular fa-trash-can delete"></i>
              </button>           
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                data-mdb-ripple-color="light">
                <a href="">
                    <img src="https://images.deliveryhero.io/image/fd-tr/LH/i9u7-hero.jpg"  style="max-height: 200px;object-fit: cover;"
                  class="w-100" />
                </a>
                
                <a href="#!">
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="card-title restaurant_name">
                              <h3 style="font-weight: bold;" >Burger King</h3>
                            </div>
                      </div>
                      <div class="col-lg-6">
                          <div>
                              <i class="fa fa-star rating-color"></i>
                              <i class="fa fa-star rating-color"></i>
                              <i class="fa fa-star rating-color"></i>
                              <i class="fa fa-star rating-color"></i>
                            </div>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col-lg-6">Karadeniz Mah. No/4</div>
                    <div class="col-lg-6">
                      <span style="font-size: 13px;">
                        Min Sepet Tutarı :  25 TL
                      </span>
                    </div>
                  </div>
                      <br>
                  <div class="row">
                    <div class="col-lg-6">
                      <span>
                        <i class="fa-solid fa-clock"></i> Açılış : 09.00
                      </span> </div>
                    <div class="col-lg-6">
                      <span>
                        <i class="fa-solid fa-clock"></i> Kapanış : 16.00
                      </span>
                    </div>
                  </div>
                </div>
            </div>
          </div>

      </div>
    </div>
  </section>