<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container">
  <div class="row mt-3">
    <div class="col-lg-6 border-right" *ngIf="orders">    
      <h4 style="font-weight: bold; color: red;">Aktif Siparişlerim</h4>
      <div *ngIf="orders?.length == 0" class="alert alert-danger col-lg-12" role="alert">
        Aktif siparişiniz bulunmamaktadır!
      </div> 
      <hr>
      <div  *ngIf="orders"> 
      <section class="mb-5" *ngFor="let order of orders">
        <div class="container h-100">
          <div class="row d-flex justify-content-center  h-100">
            <div class="col-12">
              <div class="card card-stepper text-black activex" style="border-radius: 16px;">
                <div class="card-body ">
                  <div class="col">
                    <div class="">
                      <div class="card-body">
                        <div class="media">
                          <div class="d-flex justify-content-between">
                            <div class="sq align-self-center ">
                              <p style="font-weight: bold;">Restoran : {{order.restaurantName}}</p>
                              <p style="font-weight: bold;">Sipariş No : {{order.id}}</p>
                            </div>
                            <div style="width: 200px;margin-top: auto;margin-bottom: auto;">
                              <span style="font-weight: bold;">Teslim Edilen Adres: </span>
                              {{order.address}}
                            </div>
                          </div>
                          <br>
                          <h3 style="font-weight: bold;">Sipariş İçeriği</h3>
                          <hr>
                          <br>
                          <div class="media-body my-auto text-right">
                            <div class="row  my-auto flex-column flex-md-row" *ngFor="let menu of order.menus">

                              <div class="col my-auto">
                                <img [src]="menu.menuImage" alt="" width="70" height="70">
                              </div>
                              <div class="col-auto my-auto size" style="margin-right: 15px;">Menü İsmi :
                                {{menu.menuName}}</div>
                              <div class="col-auto my-auto size">Menü Fiyatı :{{menu.orderPrice}} TL</div>
                              <div class="col my-auto size">

                                <span class="dot">
                                  <div class="mt-2">
                                    {{menu.quantity}}
                                  </div>
                                </span>
                                Adet
                              </div>
                            </div>
                          </div>
                        </div>
                        <hr class="my-3 ">
                        <div class="mb-3 d-flex" style="flex-direction: row-reverse;"> Sipariş Açıklaması :
                          {{order.orderDescription}}</div>
                      </div>
                    </div>
                  </div>

                  <ul id="progressbar-2" class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2">
                    <li class="step0 active text-center" id="step1"></li>
                    <li class="step0 active text-center" id="step2"></li>
                    <li class="step0 active text-center" id="step3"></li>
                    <li class="step0 text-muted text-end" id="step4"></li>
                  </ul>

                  <div class="d-flex justify-content-between">
                    <div class="d-lg-flex align-items-center">
                      <i class="fas fa-clipboard-list fa-2x me-lg-3 mb-3 mb-lg-0"></i>
                      <div>
                        <p class="fw-bold mb-1">Sipariş</p>
                        <p class="fw-bold mb-0">Alındı</p>
                      </div>
                    </div>
                    <div class="d-lg-flex align-items-center">
                      <i class="fas fa-box-open fa-2x me-lg-3 mb-3 mb-lg-0"></i>
                      <div>
                        <p class="fw-bold mb-1">Sipariş</p>
                        <p class="fw-bold mb-0">Hazırlanıyor</p>
                      </div>
                    </div>
                    <div class="d-lg-flex align-items-center">
                      <i class="fas fa-shipping-fast fa-2x me-lg-3 mb-3 mb-lg-0"></i>
                      <div>
                        <p class="fw-bold mb-1">Kurye</p>
                        <p class="fw-bold mb-0">Yola Çıktı</p>
                      </div>
                    </div>
                    <div class="d-lg-flex align-items-center">
                      <i class="fas fa-home fa-2x me-lg-3 mb-3 mb-lg-0"></i>
                      <div>
                        <p class="fw-bold mb-1">Teslim</p>
                        <p class="fw-bold mb-0">Edildi</p>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
      </div>
    </div>
    <!-- --------------------- -->
    <div class="col-lg-6">
      <div class="col-auto">
        <h4 class="color-1 mb-0" style="font-weight: bold;color: #5D196A;">Geçmiş Siparişlerim</h4>
      </div>
      <hr>
      <div class="container-fluid my-5  d-flex  justify-content-center">
        <div class="card card-1">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="card card-2">
                  <div class="card-body">
                    <div class="media">
                      <div class="d-flex justify-content-between">
                        <div class="sq align-self-center "><img style="border-radius: 5px;"
                            class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0"
                            src="https://images.deliveryhero.io/image/fd-tr/LH/yitc-hero.jpg" width="165"
                            height="135" />
                        </div>
                        <div style="width: 200px;margin-top: auto;margin-bottom: auto;">
                          <span style="font-weight: bold;">Teslim Edilen Adres: </span> Karadeniz Sokak No 4
                          Küçükçekmece/İstanbul
                        </div>
                      </div>

                      <br>
                      <div class="media-body my-auto text-right">
                        <div class="row  my-auto flex-column flex-md-row">
                          <div class="col my-auto">
                            <h5 class="mb-0">Menü İsmi : Steak House</h5>
                          </div>
                          <div class="col-auto my-auto"> <small>Restoran : Burger King </small></div>
                          <div class="col my-auto"> <small>Durum : Teslim Edildi</small></div>
                          <div class="col my-auto"> <small>Adet : 1</small></div>
                          <div class="col my-auto">
                            <h5 class="mb-0">Açıklama : Lorem ipsum dolor sit amet.</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="my-3 ">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <button class="btn btn-sm p-2 again" style="background-color: #5D196A;">
                          <span style="color: white;"> Siparişi Tekrarla </span> <i
                            style="color: white;margin-left: .4rem;" class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4 mb-4">
              <div class="col">
                <div class="card card-2">
                  <div class="card-body">
                    <div class="media">
                      <div class="d-flex justify-content-between">
                        <div class="sq align-self-center "><img style="border-radius: 5px;"
                            class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0"
                            src="https://images.deliveryhero.io/image/fd-tr/LH/yitc-hero.jpg" width="165"
                            height="135" />
                        </div>
                        <div style="width: 200px;margin-top: auto;margin-bottom: auto;">
                          <span style="font-weight: bold;">Teslim Edilen Adres: </span> Karadeniz Sokak No 4
                          Küçükçekmece/İstanbul
                        </div>
                      </div>

                      <br>
                      <div class="media-body my-auto text-right">
                        <div class="row  my-auto flex-column flex-md-row">
                          <div class="col my-auto">
                            <h5 class="mb-0">Menü İsmi : Steak House</h5>
                          </div>
                          <div class="col-auto my-auto"> <small>Restoran : Burger King </small></div>
                          <div class="col my-auto"> <small>Durum : Teslim Edildi</small></div>
                          <div class="col my-auto"> <small>Adet : 1</small></div>
                          <div class="col my-auto">
                            <h5 class="mb-0">Açıklama : Lorem ipsum dolor sit amet.</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="my-3 ">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <button class="btn btn-sm p-2 again" style="background-color: #5D196A;">
                          <span style="color: white;"> Siparişi Tekrarla </span> <i
                            style="color: white;margin-left: .4rem;" class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-4 mt-4">
              <div class="col">
                <div class="card card-2">
                  <div class="card-body">
                    <div class="media">
                      <div class="d-flex justify-content-between">
                        <div class="sq align-self-center "><img style="border-radius: 5px;"
                            class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0"
                            src="https://images.deliveryhero.io/image/fd-tr/LH/yitc-hero.jpg" width="165"
                            height="135" />
                        </div>
                        <div style="width: 200px;margin-top: auto;margin-bottom: auto;">
                          <span style="font-weight: bold;">Teslim Edilen Adres: </span> Karadeniz Sokak No 4
                          Küçükçekmece/İstanbul
                        </div>
                      </div>

                      <br>
                      <div class="media-body my-auto text-right">
                        <div class="row  my-auto flex-column flex-md-row">
                          <div class="col my-auto">
                            <h5 class="mb-0">Menü İsmi : Steak House</h5>
                          </div>
                          <div class="col-auto my-auto"> <small>Restoran : Burger King </small></div>
                          <div class="col my-auto"> <small>Durum : Teslim Edildi</small></div>
                          <div class="col my-auto"> <small>Adet : 1</small></div>
                          <div class="col my-auto">
                            <h5 class="mb-0">Açıklama : Lorem ipsum dolor sit amet.</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="my-3 ">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <button class="btn btn-sm p-2 again" style="background-color: #5D196A;">
                          <span style="color: white;"> Siparişi Tekrarla </span> <i
                            style="color: white;margin-left: .4rem;" class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card card-2">
                  <div class="card-body">
                    <div class="media">
                      <div class="d-flex justify-content-between">
                        <div class="sq align-self-center "><img style="border-radius: 5px;"
                            class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0"
                            src="https://images.deliveryhero.io/image/fd-tr/LH/yitc-hero.jpg" width="165"
                            height="135" />
                        </div>
                        <div style="width: 200px;margin-top: auto;margin-bottom: auto;">
                          <span style="font-weight: bold;">Teslim Edilen Adres: </span> Karadeniz Sokak No 4
                          Küçükçekmece/İstanbul
                        </div>
                      </div>

                      <br>
                      <div class="media-body my-auto text-right">
                        <div class="row  my-auto flex-column flex-md-row">
                          <div class="col my-auto">
                            <h5 class="mb-0">Menü İsmi : Steak House</h5>
                          </div>
                          <div class="col-auto my-auto"> <small>Restoran : Burger King </small></div>
                          <div class="col my-auto"> <small>Durum : Teslim Edildi</small></div>
                          <div class="col my-auto"> <small>Adet : 1</small></div>
                          <div class="col my-auto">
                            <h5 class="mb-0">Açıklama : Lorem ipsum dolor sit amet.</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="my-3 ">

                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <button class="btn btn-sm p-2 again" style="background-color: #5D196A;">
                          <span style="color: white;"> Siparişi Tekrarla </span> <i
                            style="color: white;margin-left: .4rem;" class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>